body {
    min-height: 100vh;
}

.navbar {
    background-color: rgba($color: #808080, $alpha: 0.3);
    color: white;
    margin-bottom: 20px;
}

#wrapper {
    min-width: 100%;

    margin-bottom: 75px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    #bio {


        width: 50%;

        .image img {
            border-radius: 100%;
        }
    }

    #themes {
        min-width: 50%;
        max-width: 60%;

        .list-group-item {
            line-height: 2;

            &:hover {
                background-color:rgba($color: grey, $alpha: 0.4);
            }

        }
    }

    #new-theme {
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-width: 40%;

        .form-group {
            width: 100%;
            margin-top: 5px;
        }
    }
}

footer {
    height: 20px;
}