// @media only screen 
// // and (min-device-width : 414px) 
// and (max-device-width : 736px) {
//   #ops {
//       flex-direction: column;
//       #student-service {
//           border-right: 0px solid white;
//           border-bottom: 1px solid black;
//       }
//   }

// }

#main {
    min-height: 100vh;
    min-width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    #ops {
        // display: flex;
        // align-items: center;
        // justify-content: space-between;

        // #student-service {
        //     border-right: 1px solid black;
        // }

        min-width: 50%;

        .ops__wrapper {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: column;
            padding: 20px;

            button {
                margin-top: 5px;
            }
        }

    }
}