<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Profile</title>
    <link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename='css/employer.css')}}" />
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script>
        function getEventUrl(eventId) {
            console.log(window.location);
            return `${window.location}/event/${eventId}`;
        }
    </script>
</head>
<body>
    <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">
                        Studentor
                    </a>
                </div>
                <form class="form-inline my-2 my-lg-0" action="/logout" method="POST">
                    <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">Logout</button>
                </form>
            
            </div>
        </nav>

    <div id="wrapper">
        <div id="bio" class="row">
            <div class="image col-md-4">
                <img src="https://i.pinimg.com/170x/f0/03/44/f00344d904062ce92b4b3b146060d874--profile-pics-bucket-lists.jpg">
            </div>
            <div class="profile-description col-md-8">
                <h1><span id="comp_name">{{name}}</span>
                    {% if is_owner: %}
                    <a href="#">
                        <i class="material-icons" id="settings">settings</i>
                    </a>
                    {% endif %}
                </h1>
                <p id="comp_cont">{{contacts}}</p>
                <p id="comp_desc">{{description}}</p> 
            </div>
        </div>
        
        <div id="themes">
            {% if events_tuples: %}
            <h2>
                Темы проектов
            </h2>
            <ul class="list-grouping">
            {% for t in events_tuples: %}
                <li class="list-group-item">
                    <h3>{{t[1]}} <span class="badge"><a href="" class="theme-link" id="{{t[0]}}">Страница проекта</a></span> </h3>
                    <div class="theme__data">
                        <h4>Описание:</h4>
                        <p>{{t[2]}}</p> 
                    </div>
                </li>
            {% endfor %}
            </ul>
            {% endif %}
        </div>
        
        {% if is_owner: %}
        <button class="btn btn-success btn-lg add-theme-fields">Добавить тему</button>
        {% endif %}
        
        <form id="new-theme" method="POST">
            <h3>Добавление новой темы</h3>
            <div class="form-group">
                <input id="new-theme__name" type="text" class="form-control" name="Name" placeholder="Название" required="">
            </div>
            <div class="form-group">
                <textarea class="form-control" id="new-theme__desc" type="text" name="Desc" placeholder="Описание" required=""></textarea>
            </div>
            
            <div class="form-group">
                <label for="new-theme__isdiploma">Дипломный проект или нет</label>
                <input type="checkbox" id="new-theme__isdiploma" name="Diploma">
            </div>
            <button class="btn btn-success" id="add-theme">Добавить</button>
        </form>
    </div>


    <footer>
        
    </footer>

    <div class="modal fade" id="settings-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Настройки</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group>">
                        <label>Название</label>
                        <input id="settings-modal__name" type="text" class="form-control" name="Name" placeholder="Название" required="">
                    </div>
                    <div class="form-group>">
                        <label>Описание</label>
                        <input id="settings-modal__desc" type="text" class="form-control" name="Name" placeholder="Название" required="">
                    </div>
                    <div class="form-group">
                        <label>Контакты</label>
                        <input id="settings-modal__cont" type="text" class="form-control" name="Name" placeholder="Название" required="">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="settings-modal__save">Save changes</button>
            </div>
            </div>
        </div>
    </div>

    <script
			  src="https://code.jquery.com/jquery-3.3.1.min.js"
			  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
              crossorigin="anonymous"></script>
              <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
              <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="{{url_for('static', filename='js/employer.js')}}"></script>
</body>
</html>