<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Profile</title>
    <link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename='css/employer.css')}}" />
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">
                        Studentor
                    </a>
                </div>
                <form class="form-inline my-2 my-lg-0" action="/logout" method="POST">
                    <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">Logout</button>
                </form>
            
            </div>
        </nav>

    <div id="wrapper">
        <div id="bio" class="row">
            <div class="image col-md-4">
                <img src="https://i.pinimg.com/170x/f0/03/44/f00344d904062ce92b4b3b146060d874--profile-pics-bucket-lists.jpg">
            </div>
            <div class="profile-description col-md-8">
                <h1>Company Name 
                    <a href="#">
                        <i class="material-icons">settings</i>
                    </a>
                </h1>
                <p>This is a short description to just get the feeling how it's going to look</p> 
            </div>
        </div>
        {% if themes: %}
        <div id="themes">
            <h2>
                Темы проектов
            </h2>
            <ul class="list-grouping">
            {% for t in themes: %}
                <li class="list-group-item">
                    <h3>{{t[1]}} <span class="badge"><a href="/">Страница проекта</a></span> </h3>
                    <div class="theme__data">
                        <h4>Описание:</h4>
                        <p>{{t[2]}}</p> 
                    </div>
                </li>
            {% endfor %}
            </ul>
        </div>
        {% endif %}
    </div>

    <footer>
        
    </footer>

    <script
			  src="https://code.jquery.com/jquery-3.3.1.min.js"
			  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
			  crossorigin="anonymous"></script>
    <script src="{{url_for('static', filename='js/employer.js')}}"></script>
</body>
</html>