<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Profile</title>
    <link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename='css/employer.css')}}" />
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script>
        function getEventUrl(eventId) {
            console.log(window.location);
            return `${window.location}/event/${eventId}`;
        }
    </script>
</head>
<body>
    <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">
                        Studentor
                    </a>
                </div>
                <form class="form-inline my-2 my-lg-0" action="/logout" method="POST">
                    <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">Logout</button>
                </form>
            
            </div>
        </nav>

    <div id="wrapper">
        <div id="bio" class="row">
            <div class="image col-md-4">
                <img src="https://i.pinimg.com/170x/f0/03/44/f00344d904062ce92b4b3b146060d874--profile-pics-bucket-lists.jpg">
            </div>
            <div class="profile-description col-md-8">
                <h1>{{name}}
                    <a href="#">
                        <i class="material-icons">settings</i>
                    </a>
                </h1>
                <p>{{contacts}}</p>
                <p>{{description}}</p> 
            </div>
        </div>
        
        <div id="themes">
            {% if events_tuples: %}
            <h2>
                Темы проектов
            </h2>
            <ul class="list-grouping">
            {% for t in events_tuples: %}
                <li class="list-group-item">
                    <h3>{{t[1]}} <span class="badge"><a href="" class="theme-link" id="{{t[0]}}">Страница проекта</a></span> </h3>
                    <div class="theme__data">
                        <h4>Описание:</h4>
                        <p>{{t[2]}}</p> 
                    </div>
                </li>
            {% endfor %}
            </ul>
            {% endif %}
        </div>
        
        <button class="btn btn-success btn-lg add-theme-fields">Добавить тему</button>
        
        <form id="new-theme" method="POST">
            <h3>Добавление новой темы</h3>
            <div class="form-group">
                <input id="new-theme__name" type="text" class="form-control" name="Name" placeholder="Название" required="">
            </div>
            <div class="form-group">
                <textarea class="form-control" id="new-theme__desc" type="text" name="Desc" placeholder="Описание" required=""></textarea>
            </div>
            
            <div class="form-group">
                <label for="new-theme__isdiploma">Дипломный проект или нет</label>
                <input type="checkbox" id="new-theme__isdiploma" name="Diploma">
            </div>
            <button class="btn btn-success" id="add-theme">Добавить</button>
        </form>
    </div>


    <footer>
        
    </footer>

    <script
			  src="https://code.jquery.com/jquery-3.3.1.min.js"
			  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
			  crossorigin="anonymous"></script>
    <script src="{{url_for('static', filename='js/employer.js')}}"></script>
</body>
</html>