<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Symmetrical Potato</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename='css/main.css')}}" />
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
    <div id="main">
        <div id="lead">
            <h1>Hello from Symmetrical Potato!</h1>
        </div>
        <div id="ops" class="row">
            <div class="ops__wrapper col-md-6 col-sm-12" id="student-service">
                <h2>Для студентов</h2>
                <button class="btn btn-success">Войти</button>
                <button class="btn btn-success">Зарегистрироваться</button>
            </div>
            <div class="ops__wrapper col-md-6 col-sm-12" id="employee-service">
                <h2>Для компаний</h2>
                <button class="btn btn-success">Войти</button>
                <button class="btn btn-success">Зарегистрироваться</button>
            </div>
        </div>

    </div>
    
    
</body>
</html>