<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Profile</title>
    <link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename='css/student.css')}}" />
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">
                    Studentor
                </a>
            </div>
            <form class="form-inline my-2 my-lg-0" action="/logout" method="POST">
                <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">Logout</button>
            </form>
        
        </div>
    </nav>

    <div id="wrapper">
        <div id="bio" class="row">
            <div class="image col-md-4">
                <img src="https://i.pinimg.com/170x/f0/03/44/f00344d904062ce92b4b3b146060d874--profile-pics-bucket-lists.jpg">
            </div>
            <div class="profile-description col-md-8">
                <h1>{{ name }}
                    {% if is_owner: %}
                    <a href="#">
                        <i class="material-icons">settings</i>
                    </a>
                    {% endif %}
                    
                </h1>
                <p>{{contacts}} | <a href="{{cv}}">CV</a></p> 
                
            </div>
        </div>
        {% if is_owner and notifications: %}
        <div id="notifications">
            <ul class="list-group" id="notifications-list">
                {% for n in invites: %}
                    <li class="list-group-item">
                        Компания <a href="/empl/{{n[3]}}">{{n[2]}} </a> пригласила вас для участия в проекте <a href="/empl/{{n[3]}}/event/{{n[1]}}">{{n[0]}}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
        {% if documents: %}
        <div id="diplomas" class="row">
            <div class="diploma-wrapper col-md-12">
                <h2>Дипломы</h2>
                <ul class="diploma-list list-group">
                    {% for d in documents: %}
                    <li class="list-group-item">
                        <h3>{{ d['title'] }}</h3>
                        <div class="diploma__data non-active">
                            <h4>Год защиты:</h4>
                            <p>{{d['year']}}</p>
                            <h4>Научный руководитель</h4>
                            <p>{{d['supervisor']}}</p>
                            <a href="{{d['link']}}"><h4>Ссылка на диплом:</h4></a>
                        </div>
                    </li>

                    {% endfor %}
                </ul> 
            </div>
        </div>
        {% endif %}
    </div>

    <footer>
        
    </footer>

    <script
			  src="https://code.jquery.com/jquery-3.3.1.min.js"
			  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
			  crossorigin="anonymous"></script>
    <script src="{{url_for('static', filename='js/student.js')}}"></script>
</body>
</html>