<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Project</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename='css/theme.css')}}" />
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">
                    Studentor
                </a>
            </div>
            <form class="form-inline my-2 my-lg-0" action="/logout" method="POST">
                <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">Logout</button>
            </form>
        
        </div>
    </nav>
    <div id="wrapper">
        <div id="project__description">
            <h1><span class="changeable" id="h1">Project name</span> <a href="#" id="change-project">
                    <i class="material-icons">settings</i>
                </a></i></h1>
            <input type="text" class="h1-changeable-input" value="Project name">
            <h2><span>Описание проекта</span></h2>
            <p class="changeable" id="p">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut, aliquam sequi. Provident ullam dolores minima autem ea, iste deleniti facere ipsa magni adipisci. Asperiores consectetur consequatur quibusdam minima dicta distinctio?</p>
            <!-- <input type="text" id="2" class="p-changeable-input"> -->
            <textarea name="Text1" cols="40" rows="5" id="2" class="p-changeable-input"></textarea>
            {% if project_students: %}
            <h2>Студенты которые подали заявки</h2>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Имя</th>
                        <th>ID</th>
                    </tr>
                </thead>
                <tbody>
                    {% for stud in project_students: %}
                        <tr>
                            <td>{{stud[0]}}</td>
                            <td><a href="/stud/{{stud[1]}}">{{stud[1]}}</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endif %}
            {% if recommended_students: %}
            <h2>Рекомендованные студенты</h2>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Имя</th>
                        <th>ID</th>
                        <th>Уровень совместимости</th>
                    </tr>
                </thead>
                <tbody>
                    {% for stud in recommended_students: %}
                        <tr>
                            <td>{{stud[0]}}</td>
                            <td><a href="/stud/{{stud[1]}}">{{stud[1]}}</a></td>
                            <td>{{stud[2]}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endif %}
            
        </div>
    </div>
    
    <script
			  src="https://code.jquery.com/jquery-3.3.1.min.js"
			  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
			  crossorigin="anonymous"></script>
    <script src="{{url_for('static', filename='js/theme.js')}}"></script>
</body>
</html>