<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Project</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename='css/theme.css')}}" />
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">
                    Studentor
                </a>
            </div>
            <form class="form-inline my-2 my-lg-0" action="/logout" method="POST">
                <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">Logout</button>
            </form>
        
        </div>
    </nav>
    <div id="wrapper">
        <div id="project__description">
            <h1><span class="changeable" id="h1">{{name}}</span>
                 {% if is_owner: %}
                 <a href="#" id="change-project">
                    <i class="material-icons">settings</i>
                </a>
                {% endif %}
            </i></h1>
            <input type="text" class="h1-changeable-input" value="Project name">
            <p><a href="/empl/{{company_id}}">{{company_name}}</a></p>
            <h2><span>Описание проекта</span></h2>
            <p class="changeable" id="p">{{description}}</p>
            <!-- <input type="text" id="2" class="p-changeable-input"> -->
            <textarea name="Text1" cols="40" rows="5" id="2" class="p-changeable-input"></textarea>
            {% if is_owner and project_students: %}
            <h2>Студенты которые подали заявки</h2>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Имя</th>
                        <th>ID</th>
                    </tr>
                </thead>
                <tbody>
                    {% for stud in project_students: %}
                        <tr>
                            <td>{{stud[0]}}</td>
                            <td><a href="/stud/{{stud[1]}}">{{stud[1]}}</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endif %}
            {% if is_owner and recommended_students: %}
            <h2>Рекомендованные студенты</h2>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Имя</th>
                        <th>ID</th>
                        <th>Уровень совместимости</th>
                        <th>Заявки</th>
                    </tr>
                </thead>
                <tbody>
                    {% for stud in recommended_students: %}
                        <tr>
                            <td>{{stud[0]}}</td>
                            <td><a href="/stud/{{stud[1]}}">{{stud[1]}}</a></td>
                            <td>{{stud[2]}}</td>
                            <td>
                                {% if stud[3]: %}
                                    <button id="{{stud[1]}}" class="btn btn-success invite">Отправить</button>
                                {% else: %}
                                    <button id="{{stud[1]}}" class="btn btn-warning invite">Заявка отправлена</button>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endif %}
            
        </div>
    </div>

    <div class="modal fade" id="ok-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Настройки</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h1>Приглашение отправлено</h1>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="settings-modal__save">Save changes</button>
                </div>
                </div>
            </div>
        </div>
    
    <script
			  src="https://code.jquery.com/jquery-3.3.1.min.js"
			  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
              crossorigin="anonymous"></script>
              <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
              <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="{{url_for('static', filename='js/theme.js')}}"></script>
</body>
</html>